In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Les Cayes,18.2000,-73.7500,81.93,63,2,12.03,HT,2/2/2022 20:18
1,1,Dudinka,69.4058,86.1778,-8.01,100,95,5.50,RU,2/2/2022 20:18
2,2,Severo-Kurilsk,50.6789,156.1250,26.29,83,95,6.87,RU,2/2/2022 20:18
3,3,Punta Arenas,-53.1500,-70.9167,51.82,87,75,10.36,CL,2/2/2022 20:15
4,4,Kapaa,22.0752,-159.3190,78.78,70,20,1.01,US,2/2/2022 20:18

In [3]:
# verify that desired data is int or float
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     558 non-null    int64
 1   City        558 non-null    object
 2   Lat         558 non-null    float64
 3   Lng         558 non-null    float64
 4   Max Temp    558 non-null    float64
 5   Humidity    558 non-null    int64
 6   Cloudiness  558 non-null    int64
 7   Wind Speed  558 non-null    float64
 8   Country     553 non-null    object
 9   Date        558 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 43.7+ KB

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [6]:
# Get the maximum temperature. to avoid nevative temperature values, add to temps[] the max of either temp or 0
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [11]:
figure_layout = {
    'width': '400px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px'
}
gmaps.figure(layout=figure_layout)

Figure(layout=FigureLayout(border='1px solid black', height='400px', padding='1px', width='400px'))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# fig = gmaps.figure()
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp) 
# changed to avoid InvalidWeightException caused by negative max_temp; added code block above max_temp
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# used list comprehension for below and comment out for-loop above
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

figure_layout = {
    'width': '800px',
    'height': '350px',
    'border': '1px solid black',
    'padding': '1px'}
fig = gmaps.figure(layout=figure_layout, center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(border='1px solid black', height='350px', padding='1px', width='800px'))

In [8]:
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

figure_layout = {
    'width': '800px',
    'height': '350px',
    'border': '1px solid black',
    'padding': '1px'}
fig = gmaps.figure(layout=figure_layout, center=(30.0, 31.0), zoom_level=1.5)
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(border='1px solid black', height='350px', padding='1px', width='800px'))

In [19]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

figure_layout = {
    'width': '800px',
    'height': '350px',
    'border': '1px solid black',
    'padding': '1px'}
fig = gmaps.figure(layout=figure_layout, center=(30.0, 31.0), zoom_level=1.5)
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(border='1px solid black', height='350px', padding='1px', width='800px'))

In [20]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

figure_layout = {
    'width': '800px',
    'height': '350px',
    'border': '1px solid black',
    'padding': '1px'}
fig = gmaps.figure(layout=figure_layout, center=(30.0, 31.0), zoom_level=1.5)
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(border='1px solid black', height='350px', padding='1px', width='800px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
# use 75 and 90
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Les Cayes,18.2000,-73.7500,81.93,63,2,12.03,HT,2/2/2022 20:18
4,4,Kapaa,22.0752,-159.3190,78.78,70,20,1.01,US,2/2/2022 20:18
5,5,Atuona,-9.8000,-139.0333,77.49,79,93,15.70,PF,2/2/2022 20:15
10,10,Hilo,19.7297,-155.0900,78.53,71,40,0.00,US,2/2/2022 20:18
11,11,Sao Joao Da Barra,-21.6403,-41.0511,75.29,85,99,9.15,BR,2/2/2022 20:15
13,13,Rikitea,-23.1203,-134.9692,77.94,74,100,5.93,PF,2/2/2022 20:14
22,22,Faanui,-16.4833,-151.7500,80.71,75,18,16.98,PF,2/2/2022 20:17
25,25,Cidreira,-30.1811,-50.2056,78.30,78,0,15.59,BR,2/2/2022 20:18
27,27,La Asuncion,11.0333,-63.8628,87.53,55,5,17.27,VE,2/2/2022 20:18
34,34,Castro,-24.7911,-50.0119,75.94,71,40,1.25,BR,2/2/2022 20:17

In [23]:
preferred_cities_df.count()

City_ID       159
City          159
Lat           159
Lng           159
Max Temp      159
Humidity      159
Cloudiness    159
Wind Speed    159
Country       159
Date          159
dtype: int64

In [24]:
# use dropna() if null values exist

In [25]:
# Use copy() to Create DataFrame, by copying preferred_cities_df, called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
0           Les Cayes      HT     81.93  18.2000  -73.7500
4               Kapaa      US     78.78  22.0752 -159.3190
5              Atuona      PF     77.49  -9.8000 -139.0333
10               Hilo      US     78.53  19.7297 -155.0900
11  Sao Joao Da Barra      BR     75.29 -21.6403  -41.0511
13            Rikitea      PF     77.94 -23.1203 -134.9692
22             Faanui      PF     80.71 -16.4833 -151.7500
25           Cidreira      BR     78.30 -30.1811  -50.2056
27        La Asuncion      VE     87.53  11.0333  -63.8628
34             Castro      BR     75.94 -24.7911  -50.0119

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
#     code below causes index errors, use try-except modification
#     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Les Cayes,HT,81.93,18.2000,-73.7500,Villa Orphee
4,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Atuona,PF,77.49,-9.8000,-139.0333,Villa Enata
10,Hilo,US,78.53,19.7297,-155.0900,Hilo Hawaiian Hotel
11,Sao Joao Da Barra,BR,75.29,-21.6403,-41.0511,Pousada Porto De Canoas
13,Rikitea,PF,77.94,-23.1203,-134.9692,People ThankYou
22,Faanui,PF,80.71,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
25,Cidreira,BR,78.30,-30.1811,-50.2056,Hotel Castelo
27,La Asuncion,VE,87.53,11.0333,-63.8628,Colinas de Matasiete
34,Castro,BR,75.94,-24.7911,-50.0119,CHACARA BAILLY

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

figure_layout = {
    'width': '800px',
    'height': '350px',
    'border': '1px solid black',
    'padding': '1px'}
fig = gmaps.figure(layout=figure_layout, center=(30.0, 31.0), zoom_level=1.5)
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(border='1px solid black', height='350px', padding='1px', width='800px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [33]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

figure_layout = {
    'width': '800px',
    'height': '350px',
    'border': '1px solid black',
    'padding': '1px'}
fig = gmaps.figure(layout=figure_layout, center=(30.0, 31.0), zoom_level=1.5)
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(border='1px solid black', height='350px', padding='1px', width='800px'))